@model Camefor.Model.Articles;
@{
    ViewData["Title"] = "文章";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('~/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.ArticleTitle</h1>
                    <h2 class="subheading"> @Model.ArticleContent.Substring(0, Model.ArticleContent.Length / 50);</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">栩栩 小白</a>
                        on 4 08, 2020
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            @Model.ArticleContent
        </div>
    </div>
</article>
