@model Camefor.Model.Articles;
@{
    ViewData["Title"] = "文章";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://lsdlhlx.top/wp-json/sakura/v1/image/cover')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.ArticleTitle</h1>

                    <h2 class="subheading"> @Model.ArticleSubTitle</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">栩宇小白</a>
                        on 4 08, 2020
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="text-body">
                @Html.Raw(Model.ArticleContent)
            </div>
        </div>
    </div>
</article>
