@model List<Camefor.Model.Articles>
@{
    ViewData["Title"] = "主页";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2>栩宇的个人网站</h2>
                    <span class="subheading">好好写代码，一切都会来的。</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var item in Model) {
                <div class="post-preview">
                    <a asp-area="" asp-controller="Post" asp-action="v" asp-route-id="@item.ArticleId">
                        <h5 class="post-title">
                            @item.ArticleTitle
                        </h5>
                        <h6 class="post-subtitle">
                            @*一篇文章的子标题 内容概要*@

                            @item.ArticleSubTitle
                        </h6>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">栩宇小白</a>
                        on 2020-04-08
                    </p>
                </div>
                <hr>
            }
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
@*https://startbootstrap.com/previews/blog-home/
    https://startbootstrap.com/previews/blog-post/*@